#card_holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1% auto;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1% auto; 
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2% auto; 
}

.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2% auto; 
}
.card img{
    aspect-ratio: 1/0.5;
}